﻿@using Abp.Json
@model Advantage.DigitalNetwork.Web.Models.Account.ResetPasswordViewModel
@section Scripts
{
    <script>
        window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
    </script>
    <script abp-src="/view-resources/Views/Account/ResetPassword.js" asp-append-version="true"></script>
}
<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            @L("ChangePassword")
        </h3>
    </div>
    <form class="m-login__form m-form pass-reset-form" asp-action="ResetPassword" method="post">
        <p>
            @L("PleaseEnterYourNewPassword")
        </p>
        <input type="hidden" name="UserId" value="@Model.UserId.ToString()">
        <input type="hidden" name="ResetCode" value="@Model.ResetCode">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <div class="form-group m-form__group">
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required />
        </div>
        <div class="form-group m-form__group">
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
        </div>
        <div class="m-login__form-action">
            <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">@L("Submit")</button>
        </div>
    </form>
</div>