﻿@using Abp.Collections.Extensions
@using Advantage.DigitalNetwork.Web.Areas.App.Views.Shared.Components.AppSideBar
@model UserMenuItemViewModel

<li class="m-menu__item @(Model.MenuItem.IsMenuActive(Model.CurrentPageName) ? "m-menu__item--active" : "")" aria-haspopup="true" data-menu-submenu-toggle="hover">
    @if (Model.MenuItem.Items.IsNullOrEmpty())
    {
        <a href="@Model.MenuItem.CalculateUrl(ApplicationPath)" class="m-menu__link">
            <i class="m-menu__link-icon @Model.MenuItem.Icon"></i>
            <span class="m-menu__link-text">
                <span class="title">@Model.MenuItem.DisplayName</span>
            </span>
        </a>
    }
    else
    {
        <a href="#" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon @Model.MenuItem.Icon"></i>
            <span class="m-menu__link-text">
                <span class="title">@Model.MenuItem.DisplayName</span>
            </span>
            <i class="m-menu__hor-arrow la la-angle-down"></i>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
            <ul class="m-menu__subnav">
                @for (var i = 0; i < Model.MenuItem.Items.Count; i++)
                {
                    var childMenuItem = Model.MenuItem.Items[i];
                    if (!childMenuItem.IsVisible)
                    {
                        continue;
                    }
                    @Html.Partial("Components/AppMenu/_UserMenuItem", new UserMenuItemViewModel
                       {
                           MenuItem = childMenuItem,
                           MenuItemIndex = i,
                           CurrentPageName = Model.CurrentPageName,
                           RootLevel = false
                       })
                }
            </ul>
        </div>
    }
</li>
