﻿@using System.Threading.Tasks
@using Advantage.DigitalNetwork.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Common.AuditLogs;
}

@section Styles {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/AuditLogs/index.css" asp-append-version="true" />
}

@section Scripts {
    <script abp-src="/view-resources/Areas/App/Views/AuditLogs/Index.js" asp-append-version="true"></script>
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto col-sm-6">
            <h3 class="m-subheader__title">
                <span>@L("AuditLogs")</span>
            </h3>
        </div>
        <div class="col-sm-6 text-right">
            <button id="ExportAuditLogsToExcelButton" class="btn btn-success"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            <button id="RefreshAuditLogsButton" class="btn btn-metal"><i class="fa fa-refresh"></i> @L("Refresh")</button>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <form id="AuditLogFilterForm">
                    <div class="row align-items-center m--margin-bottom-10">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("DateRange")</label>
                                <input type="text" class="form-control date-range-picker" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("UserName")</label>
                                <input type="text" name="UserName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Service")</label>
                                <input name="ServiceName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" style="display: block">@L("Duration")</label>
                            <div class="input-group" style="width: 250px !important;">
                                <input type="number" name="MinExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8">
                                <span class="input-group-addon">
                                    ---
                                </span>
                                <input type="number" name="MaxExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Action")</label>
                                <input type="text" name="MethodName" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("ErrorState")</label>
                                <select name="HasException" class="form-control">
                                    <option value="">@L("All")</option>
                                    <option value="false">@L("Success")</option>
                                    <option value="true">@L("HasError")</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Browser")</label>
                                <input type="text" name="BrowserInfo" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                    <div class="row m--margin-bottom-10">
                        <div class="col-sm-6">
                            <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                            <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row align-items-center">
                <table id="AuditLogsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>@L("Time")</th>
                            <th>@L("UserName")</th>
                            <th>@L("Service")</th>
                            <th>@L("Action")</th>
                            <th>@L("Duration")</th>
                            <th>@L("IpAddress")</th>
                            <th>@L("Client")</th>
                            <th>@L("Browser")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AuditLogDetailModal" tabindex="-1" role="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-if="!vm.user.id">@L("AuditLogDetail")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal audit-log-detail-view" role="form">
                    <div class="form-body">
                        <h5 class="form-section">@L("UserInformations")</h5>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("UserName"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_UserName"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("IpAddress"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_ClientIpAddress"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("Client"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_ClientName"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("Browser"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_BrowserInfo"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row" id="AuditLogDetailModal_ImpersonatorInfo">
                            <label class="col-lg-3 col-form-label">

                            </label>
                            <div class="col-lg-9 text-warning">
                                @L("AuditLogImpersonatedOperationInfo")
                            </div>
                        </div>

                        <h5 class="form-section margin-top-20">@L("ActionInformations")</h5>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("Service"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_ServiceName"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("Action"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_MethodName"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("Time"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_ExecutionTime"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("Duration"):
                            </label>
                            <div class="col-lg-9">
                                <span id="AuditLogDetailModal_Duration"></span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                @L("Parameters"):
                            </label>
                            <div class="col-lg-9 alert m-alert m-alert--default">
                                <pre lang="js" id="AuditLogDetailModal_Parameters"></pre>
                            </div>
                        </div>

                        <h5 class="form-section margin-top-20">@L("CustomData")</h5>
                        <div class="form-group m-form__group row">
                            <p class="form-control-static col-lg-12" id="AuditLogDetailModal_CustomData_None">
                                @L("None")
                            </p>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <pre id="AuditLogDetailModal_CustomData" class="alert m-alert m-alert--default"></pre>
                            </div>
                        </div>

                        <h5 class="form-section margin-top-20">@L("ErrorState")</h5>
                        <div class="form-group m-form__group row">
                            <p id="AuditLogDetailModal_Success" class="form-control-static col-lg-12">
                                <i class="fa fa-check-circle m--font-success"></i> @L("Success")
                            </p>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <pre id="AuditLogDetailModal_Exception" class="alert m-alert m-alert--default"></pre>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
            </div>
        </div>
    </div>
</div>