﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@using Advantage.DigitalNetwork.Web.Areas.App.Models.Countries
@model CreateOrEditCountryModalViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(false ? (@L("EditCountry") + ": " + Model.Name) : @L("CreateNewCountry")))

<div class="modal-body">
    <ul class="nav nav-tabs  m-tabs-line" role="tablist">
        <li class="nav-item m-tabs__item">
            <a href="#UserInformationsTab" class="nav-link m-tabs__link active" data-toggle="tab" role="tab">
                @L("CountryInformations")
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="UserInformationsTab" role="tabpanel">
            <form name="UserInformationsForm" role="form" novalidate class="form-validation">
                @if (false)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                }
                <div class="form-group">
                    <label>@L("CountryName")</label>
                    <input type="email" name="CountryName" class="form-control" value="@Model.Name" required maxlength="30">
                </div>
                <div>
                    <label for="Edit_Country" data-toggle="tooltip" title="@L("IsLockoutEnabled_Hint")" class="m-checkbox">
                        <input id="Edit_Country" type="checkbox" name="AllowsBilling" value="true">
                        @L("Allows Billing")
                        <span></span>
                    </label>
                </div>

                <div>
                    <label for="EditUser_Publish" data-toggle="tooltip" title="@L("IsLockoutEnabled_Hint")" class="m-checkbox">
                        <input id="EditUser_Publish" type="checkbox" name="AllowsShipping" value="true">
                        @L("Allows Shipping")
                        <span></span>
                    </label>
                </div>
                <div class="form-group">
                    <label>@L("TwoLetterIsoCode")</label>
                    <input type="text" name="TwoLetterIsoCode" class="form-control" value="@Model.TwoLetterIsoCode" maxlength="2">
                </div>
                <div class="form-group">
                    <label>@L("ThreeLetterIsoCode")</label>
                    <input type="text" name="ThreeLetterIsoCode" class="form-control" value="@Model.ThreeLetterIsoCode" maxlength="3">
                </div>
                <div class="form-group">
                    <label>@L("SubjectToVat")</label>
                    <input type="text" name="SubjectToVat" class="form-control" value="@Model.SubjectToVat" maxlength="30">
                </div>
                <div>
                    <label for="EditUser_Published" data-toggle="tooltip" title="@L("IsLockoutEnabled_Hint")" class="m-checkbox">
                        <input id="EditUser_Published" type="checkbox" name="Published" value="true">
                        @L("Is published")
                        <span></span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
