﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@model LookupModalViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.Title ?? L("SelectUsers")))

<div class="modal-body">
    <form>
        <div class="input-group">
            <input class="form-control add-member-filter-text" placeholder="@L("SearchWithThreeDot")" type="text">
            <span class="input-group-btn">
                <button class="btn btn-primary add-member-filter-button" type="submit"><i class="flaticon-search-1"></i></button>
            </span>
        </div>
    </form>
    <table id="addMemberModalTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
        <thead>
        <tr>
            <th>@L("Select")</th>
            <th>@L("Name")</th>
        </tr>
        </thead>
    </table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" id="btnAddUsersToOrganization" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
</div>