﻿@using Abp.Organizations
@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@using Advantage.DigitalNetwork.Web.Areas.App.Models.OrganizationUnits
@model CreateOrganizationUnitModalViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("NewOrganizationUnit")))

<div class="modal-body">
    <form name="OrganizationUnitForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="ParentId" value="@Model.ParentId" />
        <div class="form-group">
            <label>@L("Name")</label>
            <input class="form-control" type="text" name="DisplayName" required maxlength="@OrganizationUnit.MaxDisplayNameLength">
        </div>
    </form>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")