﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Accounting
@model InvoiceViewModel
<div class="m-content">
    <div class="invoice-content-2">
        <div class="row invoice-head">
            <div class="col-md-7 col-7">
                <span style="font-size: 18px; color: gray; margin-right: 5px;">@L("Invoice")</span> <span style="font-size: 18px; color: #000;">#@Model.Invoice.InvoiceNo</span><br />
                <span style="font-size: 18px; color: gray; margin-right: 5px;">@L("Date")</span> <span style="font-size: 18px; color: #000;">@Model.Invoice.InvoiceDate.ToString("yyyy-MM-dd")</span>
                <br />
                <br />
                <span class="bold uppercase">@Model.Invoice.TenantLegalName</span>
                @foreach (var line in Model.Invoice.TenantAddress)
                {
                    <br />
                    @line
                }
                <br />@L("Tax/VatNo"): @Model.Invoice.TenantTaxNo
            </div>
            <div class="col-md-5 col-5">
                <div class="company-address">
                    <div class="invoice-logo">
                        <img src="/Common/images/logo.png" class="img-responsive" alt="">
                    </div>
                    <span class="bold uppercase">@Model.Invoice.HostLegalName</span>
                    @foreach (var line in Model.Invoice.HostAddress)
                    {
                        <br />@line
                    }
                </div>
            </div>
        </div>
        <div class="row invoice-body">
            <div class="col-12 table-scrollable table-scrollable-borderless">
                <table class="table m-table m-table--head-bg-brand">
                    <thead>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th>@L("Edition")</th>
                            <th style="width: 100px;">@L("Amount")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>@Model.Invoice.EditionDisplayName </td>
                            <td>$@Model.Invoice.Amount </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row invoice-subtotal">
            <hr />
            <div class="col-9">
                <h2 class="invoice-title uppercase" style="font-size: 35px; font-weight: 300; color: #000;">@L("Total")</h2>
            </div>
            <div class="col-3">
                <p class="invoice-desc" style="font-size: 35px; font-weight: 300; color: #000; text-align: right;">$@Model.Invoice.Amount.ToString("N2")</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success d-print-none print-btn" onclick="javascript:window.print();">@L("Print")</button>
            </div>
        </div>
    </div>
</div>