﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@using Advantage.DigitalNetwork.Web.Areas.App.Models.Tax.TaxRate
@model CreateOrEditTaxRateCategoryModalViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(false ? (L("EditTaxCategory") + ": " + Model.StoreId) : L("CreateNewTaxRate")))

<div class="modal-body">
    <ul class="nav nav-tabs  m-tabs-line" role="tablist">
        <li class="nav-item m-tabs__item">
            <a href="#UserInformationsTab" class="nav-link m-tabs__link active" data-toggle="tab" role="tab">
                @L("TaxRateInformations")
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="UserInformationsTab" role="tabpanel">
            <form name="UserInformationsForm" role="form" novalidate class="form-validation">
                @if (false)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                }
                <div class="form-group">
                    <label>@L("StoreId")</label>
                    <input type="number" name="CountryName" class="form-control" value="@Model.StoreId" required maxlength="30">
                </div>
                <div class="form-group">
                    <label>@L("TaxCategoryId")</label>
                    <input type="number" name="TaxCategoryId" class="form-control" value="@Model.TaxCategoryId" maxlength="5">
                </div>
                <div class="form-group">
                    <label>@L("CountryId")</label>
                    <input type="number" name="CountryId" class="form-control" value="@Model.CountryId" required maxlength="30">
                </div>
                <div class="form-group">
                    <label>@L("StateProvinceId")</label>
                    <input type="text" name="StateProvinceId" class="form-control" value="@Model.StateProvinceId" required maxlength="30">
                </div>
                <div class="form-group">
                    <label>@L("Zip")</label>
                    <input type="number" name="Zip" class="form-control" value="@Model.Zip" required maxlength="30">
                </div>
                <div class="form-group">
                    <label>@L("Percentage")</label>
                    <input type="number" name="Percentage" class="form-control" value="@Model.Percentage" required maxlength="30">
                </div>

            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")


