﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@using Advantage.DigitalNetwork.Web.Areas.App.Models.Tax.TaxCategory
@model CreateOrEditTaxCategoryModalViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(false ? (L("EditTaxCategory") + ": " + Model.Name) : L("CreateNewTaxCategory")))

<div class="modal-body">
    <ul class="nav nav-tabs  m-tabs-line" role="tablist">
        <li class="nav-item m-tabs__item">
            <a href="#UserInformationsTab" class="nav-link m-tabs__link active" data-toggle="tab" role="tab">
                @L("TaxCategoryInformations")
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="UserInformationsTab" role="tabpanel">
            <form name="UserInformationsForm" role="form" novalidate class="form-validation">
                @if (false)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                }
                <div class="form-group">
                    <label>@L("Name")</label>
                    <input type="email" name="CountryName" class="form-control" value="@Model.Name" required maxlength="30">
                </div>
                @*<div class="form-group">
                        <label>@L("DisplayOrder")</label>
                        <input type="text" name="DisplayOrder" id="DisplayOrder" class="form-control" value="@Model.DisplayOrder" maxlength="5">
                    </div>*@
                <div class="form-group">
                    <label>@L("DisplayOrder")</label>
                    @Html.DropDownListFor(x => x.DisplayOrder, new List<SelectListItem>
                {
                        new SelectListItem() {Text = "1", Value="1"},
                        new SelectListItem() {Text = "2", Value="2"},
                        new SelectListItem() {Text = "3", Value="3"},
                        new SelectListItem() {Text = "4", Value="4"},
                        new SelectListItem() {Text = "5", Value="5"},
                        new SelectListItem() {Text = "6", Value="6"},
                        new SelectListItem() {Text = "7", Value="7"},
                        new SelectListItem() {Text = "8", Value="8"},
                        new SelectListItem() {Text = "9", Value="9"},
                        new SelectListItem() {Text = "10", Value="10"}
                })
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
