﻿@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Users/Index.css" asp-append-version="true" />
}
@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/Tax/TaxCategory/Index.js" asp-append-version="true"></script>
}


<div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("TaxCategory")</span>
            </h3>
            <span class="m-section__sub">
                Manage Tax category
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            <button id="ExportTaxCategoryToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            <button id="CreateNewTaxCategoryButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> Add Tax Category</button>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" id="UsersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="">
                                <span class="input-group-btn">
                                    <button id="GetTaxCategoryButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                    <div class="col-xl-12 text-right">
                        <button id="RefreshTaxCategoryListButton" class="btn btn-metal"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                    </div>
                </div>
                <div class="row m--margin-bottom-10">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="TaxCategoryTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Display Order</th>
                            <th>Creation Time</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>





