﻿@using System.Threading.Tasks
@using Abp.Timing
@using Advantage.DigitalNetwork.Web.Areas.App.Startup
@using Advantage.DigitalNetwork.Web.Areas.App.Models.HostDashboard
@model HostDashboardViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Dashboard;
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/HostDashboard/Index.css" asp-append-version="true" />
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/host-dashboard-libs.js" asp-append-version="true"></script>
}

<div id="HostDashboard">
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>@L("Dashboard")</span>
                </h3>
                <span class="m-section__sub">
                    @L("HostDashboardHeaderInfo")
                </span>
            </div>
            <div>
                <button name="RefreshButton" class="btn btn-primary"><i class="la la-refresh"></i> @L("Refresh")</button>
                <span class="m-subheader__daterange dashboard-report-range">
                    <span class="m-subheader__daterange-label">
                        <span class="m-subheader__daterange-title"></span>
                        <span class="m-subheader__daterange-date m--font-brand"></span>
                    </span>
                    <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                        <i class="la la-angle-down"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body  m-portlet__body--no-padding">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <div class="m-widget24 new-subscription-statistics">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    @L("NewSubscriptionAmount")
                                </h4>
                                <br>
                                <span class="m-widget24__desc">
                                    @L("Subscriptions")
                                </span>
                                <span class="m-widget24__stats m--font-brand">
                                    $<span class="new-subscription-amount counterup">...</span>
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    <div class="status-title"></div>
                                </span>
                                <span class="m-widget24__number">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <div class="m-widget24 new-tenants-statistics">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    @L("NewTenants")
                                </h4>
                                <br>
                                <span class="m-widget24__desc">
                                    @L("Tenants")
                                </span>
                                <span class="m-widget24__stats m--font-info new-tenants-count counterup">
                                    ...
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    <div class="status-title"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <div class="m-widget24 dashboard-statistics1">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    @L("DashboardSampleStatistics") 1
                                </h4>
                                <br>
                                <span class="m-widget24__desc">
                                    @L("DashboardSampleStatistics")
                                </span>
                                <span class="m-widget24__stats m--font-danger dashboard-placeholder1 counterup">
                                    ...
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 45%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    @L("DashboardSampleStatisticsHelpText")
                                </span>
                                <span class="m-widget24__number">
                                    <span class="counterup">45</span>%
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <div class="m-widget24 dashboard-statistics2">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    @L("DashboardSampleStatistics") 2
                                </h4>
                                <br>
                                <span class="m-widget24__desc">
                                    @L("DashboardSampleStatistics")
                                </span>
                                <span class="m-widget24__stats m--font-success dashboard-placeholder2 counterup">
                                    ...
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-success" role="progressbar" style="width: 65%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    @L("DashboardSampleStatisticsHelpText")
                                </span>
                                <span class="m-widget24__number">
                                    <span class="counterup">65</span>%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="m-portlet m-portlet--full-height income-statistics">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <i class="la la-line-chart m--font-info"></i>
                                    <span class="caption-subject font-blue bold uppercase">@L("IncomeStatistics")</span>
                                    <small>
                                        <span class="caption-helper"></span>
                                    </small>
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn m-btn--pill btn-secondary active">
                                    <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle" value="1" checked>@L("Daily")
                                </label>
                                <label class="btn m-btn--pill btn-secondary">
                                    <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle" value="2">@L("Weekly")
                                </label>
                                <label class="btn m-btn--pill btn-secondary">
                                    <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle" value="3">@L("Monthly")
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="chart income-statistics-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="m-portlet m-portlet--full-height edition-statistics">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <i class="la la-pie-chart m--font-success"></i>
                                    <span class="caption-subject font-green-seagreen">@L("EditionStatistics")</span>
                                    <small>
                                        <span class="caption-helper"></span>
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div id="EditionStatisticsChart" class="chart edition-statistics-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="m-portlet m-portlet--full-height expiring-tenants">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <i class="icon-graduation font-red-pink"></i>
                                    <span class="caption-subject font-red-pink bold uppercase">@L("SubscriptionExpiringTenants")</span><br />
                                    <small>
                                        <span class="caption-helper"></span>
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="scroller chart m-scrollable" data-always-visible="1" data-rail-visible="0" data-scrollable="true">
                            <table class="expiring-tenants-table display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>@L("TenantName")</th>
                                        <th>@L("RemainingDay")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="scroller-footer">
                            <div class="btn-arrow-link pull-right">
                                <a href="javascript:;" class="see-all-expiring-tenants">@L("SeeAllRecords")</a>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="m-portlet m-portlet--full-height recent-tenants">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <i class="icon-user-follow font-purple-soft"></i>
                                    <span class="caption-subject font-purple-soft">@L("RecentTenants")</span><br />
                                    <small>
                                        <span class="caption-helper"></span>
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="scroller chart m-scrollable" data-always-visible="1" data-rail-visible="0" data-scrollable="true">
                            <table class="recent-tenants-table display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th>@L("TenantName")</th>
                                    <th>@L("CreationTime")</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="scroller-footer">
                            <div class="btn-arrow-link pull-right">
                                <a href="javascript:;" class="see-all-recent-tenants">@L("SeeAllRecords")</a>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>