﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@using Advantage.DigitalNetwork.Web.Areas.App.Models.Currencies
@model CreateOrEditCurrencyViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(false ? (L("EditCurrency") + ": " + Model.Name) : L("CreateNewCurrency")))

<div class="modal-body">
    <ul class="nav nav-tabs  m-tabs-line" role="tablist">
        <li class="nav-item m-tabs__item">
            <a href="#UserInformationsTab" class="nav-link m-tabs__link active" data-toggle="tab" role="tab">
                @L("Currency informations")
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="UserInformationsTab" role="tabpanel">
            <form name="UserInformationsForm" role="form" novalidate class="form-validation">
                @if (false)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                }
                <div class="form-group">
                    <label>@L("Name")</label>
                    <input type="text" name="CountryName" class="form-control" value="@Model.Name" required maxlength="30">
                </div>
                <div class="form-group">
                    <label>@L("Currency Code")</label>
                    <input type="text" name="AllowBilling" class="form-control" value="@Model.CurrencyCode" maxlength="5">
                </div>

                <div class="form-group">
                    <label>@L("Rate")</label>
                    <input type="number" name="AllowShipping" class="form-control" value="@Model.Rate" maxlength="5">
                </div>
                <div class="form-group">
                    @*<label>@L("Display Locale")</label>*@
                    @*<input type="text" name="TwoLetterIsoCode" class="form-control" value="@Model.DisplayLocale" maxlength="2">*@
                    <label>@L("Display Locale")</label>
                    @Html.DropDownListFor(x => x.DisplayOrder, new List<SelectListItem>
                    {
                         new SelectListItem() {Text = "en-AU", Value="1"},
                         new SelectListItem() {Text = "en-GB", Value="2"},
                         new SelectListItem() {Text = "en-CA", Value="3"},
                         new SelectListItem() {Text = "zh-CN", Value="4"},
                         new SelectListItem() {Text = "zh-HK", Value="5"},
                         new SelectListItem() {Text = "en-US", Value="6"},
                         new SelectListItem() {Text = "ja-JP", Value="7"},
                         new SelectListItem() {Text = "ru-RU", Value="8"},
                         new SelectListItem() {Text = "sv-SE", Value="9"},
                         new SelectListItem() {Text = "ro-RO", Value="10"}
                    })
                </div>
                <div class="form-group">
                    <label>@L("Custom Formatting")</label>
                    <input type="text" name="ThreeLetterIsoCode" class="form-control" value="@Model.CustomFormatting" maxlength="3">
                </div>
                <div class="form-group">
                    <label>@L("Rounding Type Id")</label>
                    <input type="text" name="ThreeLetterIsoCode" class="form-control" value="@Model.RoundingTypeId" maxlength="3">
                </div>
                <div class="form-group">
                    <label>@L("Limited To Stores")</label>
                    @*<input type="text" name="ThreeLetterIsoCode" class="form-control" value="@Model.LimitedToStores" maxlength="3">*@
                    <label>@L("Limited To Stores")</label>
                    @Html.DropDownListFor(x => x.LimitedToStores, new List<SelectListItem>
                    {
                         new SelectListItem() {Text = "Your Store Name", Value="1"},
                         new SelectListItem() {Text = "Test Store 1", Value="2"},
                         new SelectListItem() {Text = "Test Store 2", Value="3"}
                    })
                </div>
                <div class="form-group">
                    @*<label>@L("Published")</label>
                        <input type="text" name="Published" class="form-control" value="@Model.Published" maxlength="12">*@
                    <label for="EditUser_Published" data-toggle="tooltip" title="@L("Published")" class="m-checkbox">
                        <input id="EditUser_Published" type="checkbox" name="Published" value="true" @Html.Raw(Model.Published ? "checked=\"checked\"" : "")>
                        @L("Published")
                        <span></span>
                    </label>
                </div>
                <div class="form-group">
                    <label>@L("Display Order")</label>
                    @Html.DropDownListFor(x => x.DisplayOrder, new List<SelectListItem>
                            {
                                 new SelectListItem() {Text = "1", Value="1"},
                                 new SelectListItem() {Text = "2", Value="2"},
                                 new SelectListItem() {Text = "3", Value="3"},
                                 new SelectListItem() {Text = "4", Value="4"},
                                 new SelectListItem() {Text = "5", Value="5"},
                                 new SelectListItem() {Text = "6", Value="6"},
                                 new SelectListItem() {Text = "7", Value="7"},
                                 new SelectListItem() {Text = "8", Value="8"},
                                 new SelectListItem() {Text = "9", Value="9"},
                                 new SelectListItem() {Text = "10", Value="10"}
                            })
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
