﻿@using Abp.Json
@using Advantage.DigitalNetwork.MultiTenancy
@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@using Advantage.DigitalNetwork.Web.Areas.App.Models.Tenants
@model CreateTenantViewModel
<script>
    window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
</script>
@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewTenant")))

<div class="modal-body">
    <form name="TenantInformationsForm">
        <div class="form-group">
            <label>@L("TenancyName")</label>
            <input class="form-control" type="text" name="TenancyName" required maxlength="@Tenant.MaxTenancyNameLength" regex="@Tenant.TenancyNameRegex">
        </div>

        <div class="form-group no-hint">
            <label>@L("Name")</label>
            <input type="text" name="Name" class="form-control" required maxlength="@Tenant.MaxNameLength">
        </div>

        <div class="m-checkbox-list">
            <label class="m-checkbox">
                <input id="CreateTenant_UseHostDb" type="checkbox" name="UseHostDb" value="true" checked="checked">
                @L("UseHostDatabase")
                <span></span>
            </label>
        </div>

        <div class="form-group no-hint" style="display: none">
            <label>@L("DatabaseConnectionString")</label>
            <input type="text" name="ConnectionString" class="form-control" required maxlength="@Tenant.MaxConnectionStringLength">
        </div>

        <div class="form-group">
            <label>@L("AdminEmailAddress")</label>
            <input type="email" name="AdminEmailAddress" class="form-control" required maxlength="@Advantage.DigitalNetwork.Authorization.Users.User.MaxEmailAddressLength">
        </div>

        <div class="m-checkbox-list">
            <label class="m-checkbox">
                <input id="CreateTenant_SetRandomPassword" type="checkbox" name="SetRandomPassword" value="true" checked="checked" />
                @L("SetRandomPassword")
                <span></span>
            </label>
        </div>

        <div class="form-group no-hint tenant-admin-password" style="display: none">
            <label>@L("Password")</label>
            <input id="CreateTenant_AdminPassword" type="password" name="AdminPassword" class="form-control" maxlength="@Advantage.DigitalNetwork.Authorization.Users.User.MaxPlainPasswordLength">
        </div>

        <div class="form-group tenant-admin-password" style="display: none">
            <label>@L("PasswordRepeat")</label>
            <input type="password" name="AdminPasswordRepeat" class="form-control" maxlength="@Advantage.DigitalNetwork.Authorization.Users.User.MaxPlainPasswordLength" equalto="#CreateTenant_AdminPassword">
        </div>

        <div class="form-group no-hint">
            <label for="EditionId">@L("Edition")</label>
            <select class="form-control" id="EditionId" name="EditionId">
                @foreach (var edition in Model.EditionItems)
                {
                    <option value="@edition.Value" data-isfree="@edition.IsFree">@edition.DisplayText</option>
                }
            </select>
        </div>

        <div class="m-checkbox-list subscription-component">
            <label for="CreateTenant_IsUnlimited" class="m-checkbox">
                <input id="CreateTenant_IsUnlimited" type="checkbox" name="IsUnlimited" />
                @L("UnlimitedTimeSubscription")
                <span></span>
            </label>
        </div>

        <div class="form-group subscription-component">
            <label>@L("SubscriptionEndDateUtc")</label>
            <input type="datetime" name="SubscriptionEndDateUtc" class="form-control date-time-picker" required>
        </div>

        <div class="m-checkbox-list subscription-component">
            <label for="CreateTenant_IsInTrialPeriod" class="m-checkbox">
                <input id="CreateTenant_IsInTrialPeriod" class="md-check" type="checkbox" name="IsInTrialPeriod" value="true" />
                @L("IsInTrialPeriod")
                <span></span>
            </label>
        </div>

        <div class="m-checkbox-list">
            <label for="CreateTenant_ShouldChangePasswordOnNextLogin" class="m-checkbox">
                <input id="CreateTenant_ShouldChangePasswordOnNextLogin" type="checkbox" name="ShouldChangePasswordOnNextLogin" value="true" checked="checked">
                @L("ShouldChangePasswordOnNextLogin")
                <span></span>
            </label>
            <label for="CreateTenant_SendActivationEmail" class="m-checkbox">
                <input id="CreateTenant_SendActivationEmail" type="checkbox" name="SendActivationEmail" value="true" checked="checked">
                @L("SendActivationEmail")
                <span></span>
            </label>
            <label for="CreateTenant_IsActive" class="m-checkbox">
                <input id="CreateTenant_IsActive" type="checkbox" name="IsActive" value="true" checked="checked">
                @L("Active")
                <span></span>
            </label>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")