﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangePassword")))

<div class="modal-body">
    <form name="ChangePasswordModalForm" class="m-form">
        <div class="form-group">
            <label>@L("CurrentPassword")</label>
            <input type="password" name="CurrentPassword" class="form-control" required maxlength="@Advantage.DigitalNetwork.Authorization.Users.User.MaxPlainPasswordLength">
            <span class="m-form__help">@Html.Raw(L("PasswordChangeDontRememberMessage", "<a href=\"" + Url.Action("ForgotPassword", "Account", new {area = ""}) + "\">" + L("ClickHere") + "</a>"))</span>
        </div>
        <div class="form-group">
            <label>@L("NewPassword")</label>
            <input id="ChangePasswordModal_Password" type="password" name="NewPassword" class="form-control" required>
        </div>
        <div class="form-group">
            <label>@L("NewPasswordRepeat")</label>
            <input type="password" name="NewPasswordRepeat" class="form-control" required equalto="#ChangePasswordModal_Password">
        </div>
    </form>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
