﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("LinkNewAccount")))

<div class="modal-body">
    <form name="LinkAccountModalForm" role="form" novalidate class="form-validation">
        <div class="form-group">
            <label>@L("TenancyName")</label>
            <input type="text" name="TenancyName" class="form-control" value="@(ViewBag.TenancyName ?? "")" maxlength="@Advantage.DigitalNetwork.MultiTenancy.Tenant.MaxTenancyNameLength">
        </div>

        <div class="form-group">
            <label>@L("UserName")</label>
            <input class="form-control" type="text" name="UsernameOrEmailAddress" required maxlength="@Advantage.DigitalNetwork.Authorization.Users.User.MaxEmailAddressLength">
        </div>

        <div class="form-group">
            <label>@L("Password")</label>
            <input type="password" name="Password" class="form-control" required maxlength="@Advantage.DigitalNetwork.Authorization.Users.User.MaxPasswordLength">
        </div>
    </form>

</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")