﻿@using Advantage.DigitalNetwork.Web.Areas.App.Models.Common.Modals
@model Advantage.DigitalNetwork.Notifications.Dto.GetNotificationSettingsOutput
<div>
    @Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("NotificationSettings")))
    <div class="modal-body">
        <form name="NotificationSettingsForm" role="form" novalidate class="m-form">
            <h5>@L("ReceiveNotifications")</h5>
            <div>
                <span class="m-switch">
                    <label>
                        <input type="checkbox"
                               id="NotificationSettigs_ReceiveNotifications"
                               class="make-switch"
                               @Html.Raw(!Model.ReceiveNotifications ? "" : "checked=\"checked\"")
                               data-on-text="@L("On")"
                               data-off-text="@L("Off")"/>
                        <span></span>
                    </label><br />
                    <span class="m-form__help">@L("ReceiveNotifications_Definition")</span>
                </span>
            </div>

            <h5 class="@($"{(Model.Notifications.Count > 0 ? "" : "hidden")}") notification-types-header margin-top-20">@L("NotificationTypes")</h5>
            <p class="@($"{(Model.Notifications.Count > 0 && !Model.ReceiveNotifications ? "" : "d-none")}") text-danger disable-info"><small>@L("ReceiveNotifications_DisableInfo")</small></p>

            @foreach (var notification in Model.Notifications)
            {
                <div class="m-checkbox-list">
                    <div class="notification">
                        <label for="@($"Notification_{notification.Name}")" class="m-checkbox">
                            <input id="@($"Notification_{notification.Name}")" type="checkbox" value="true" @(notification.IsSubscribed ? "checked=\"checked\"" : "") @(!Model.ReceiveNotifications ? "disabled" : "") />
                            @notification.DisplayName
                            <span></span>
                        </label>
                        @if (!string.IsNullOrEmpty(notification.Description))
                        {
                            <span class="m-form__help">@notification.Description</span>
                        }
                    </div>
                </div>
            }
        </form>

    </div>
    @Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</div>